In [56]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [148]:
# Count of unique schools (15)
schools_count = len(school_data_complete_df['school_name'].unique())

# Count of unique students (39,170)
students_count = len(school_data_complete_df['student_name'])

# Total Budget ($24,649,428.00)
budget_total = sum(school_data_complete_df['budget'].unique())

# Averaage Maths Score (70.338192)a
average_maths = round(school_data_complete_df["maths_score"].mean(), 6)
                                          
# Average Reading Score (69.980138)
average_reading = round(school_data_complete_df["reading_score"].mean(), 6)

# Passing grade 50 or higher
# % passing maths (% Students who passed maths) (86.078632)
passing_maths = school_data_complete_df.loc[school_data_complete_df['maths_score']>=50]['maths_score'].count()
pct_passing_maths = round((passing_maths/sudents_count)*100, 6)
                                          
# % passing reading (% Students passing reading) (84.426857)
passing_reading = school_data_complete_df.loc[school_data_complete_df['reading_score']>=50]['reading_score'].count()
pct_passing_reading = round((passing_reading/sudents_count)*100, 6)  

# # % overall passing (% Students who passed maths and reading) (72.808272)
# total_passing = round(((pct_passing_maths + pct_passing_reading)/ 2), 6)
total_passing = round(student_data[(student_data['maths_score'] >= 50) & (student_data['reading_score'] >= 50)]['student_name'].count()/students_count *100, 6)

In [149]:
schools_count, students_count, budget_total, average_maths, average_reading, pct_passing_maths, pct_passing_reading, total_passing

(15, 39170, 24649428, 70.338192, 69.980138, 86.078632, 84.426857, 72.808272)

In [37]:
# Local Government Area Summary

In [150]:
lga_summary_df = pd.DataFrame([{'Total Schools': schools_count,
                                    'Total Students': '{:,}'.format(sudents_count),
                                    'Total Budget': '${:,.2f}'.format(budget_total),
                                    'Average Math Score': average_maths,
                                    'Average Reading Score': average_reading,
                                    '% Passing Maths': pct_passing_maths,
                                    '% Passing Reading': pct_passing_reading,
                                    '% Overall Passing': total_passing}])

lga_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [228]:
# Unique School names
school_name = school_data_complete_df['school_name'].unique()

# Unique School type
school_type = school_data_complete_df['type'].unique()

# Count of unique students (39,170)
students_count = len(school_data_complete_df['student_name'])

# Total School Budget for each School
total_budget = school_data_complete_df.set_index('school_name')['budget']
total_budget_per_school = total_budget.groupby('school_name')

In [230]:
# school_name, school_type, students_count, 
school_name, total_budget_per_school



# Per student budget
# student_budget = (school_data_complete_f['total_ / ['students_count']'])
# St_per_B = budget_total/sudents_count

(array(['Huang High School', 'Figueroa High School', 'Shelton High School',
        'Hernandez High School', 'Griffin High School',
        'Wilson High School', 'Cabrera High School', 'Bailey High School',
        'Holden High School', 'Pena High School', 'Wright High School',
        'Rodriguez High School', 'Johnson High School', 'Ford High School',
        'Thomas High School'], dtype=object),
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000029C5AC89ED0>)

In [ ]:
#Highest Performing Schools (by % Overall Passing)

#sort the schools by % Overall Passing in ascending order an display top 5 rows

#Save the results in a DataFrame called "top_schools"

top_schools_df = pd.DataFrame([{}])

top_schools_df.head()

In [ ]:
#Lowest-Performing Schools (by % Overall Passing)
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows
#Save the results in a DataFrame called "bottom_schools"

In [ ]:
#Maths Scores by Year
#Perform the necessary calculations to create a 
#DataFrame that lists the average maths score for students of each year level (9, 10, 11, 12) at each school

In [ ]:
#Reading Scores by Year
#Create a DataFrame that lists the average reading score for students of each year level (9, 10, 11, 12) at each school

In [ ]:
#Scores by School Spending

#Create a table that breaks down school performance based on average spending ranges (per student).
#Use the code provided below to create four bins with reasonable cutoff values to group school spending
#spending_bins = [0, 585, 630, 645, 680]
#labels = ["<$585", "$585-630", "$630-645", "$645-680"]
#Use pd.cut to categorise spending based on the bins.
#Use the following code to then calculate mean scores per spending range.

In [ ]:
#Scores by School Size

#Use the following code to bin the per_school_summary
#size_bins = [0, 1000, 2000, 5000]
#labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
#Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large)

In [ ]:
#Scores by School Type

#Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
#This new DataFrame should show school performance based on the "School Type"