In [317]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [318]:
# Count of unique schools (15)
schools_count = len(school_data_complete_df['school_name'].unique())

# Count of unique students (39,170)
students_count = len(school_data_complete_df['student_name'])

# Total Budget ($24,649,428.00)
budget_total = sum(school_data_complete_df['budget'].unique())

# Averaage Maths Score (70.338192)a
average_maths = round(school_data_complete_df["maths_score"].mean(), 6)
                                          
# Average Reading Score (69.980138)
average_reading = round(school_data_complete_df["reading_score"].mean(), 6)

# Passing grade 50 or higher
# % passing maths (% Students who passed maths) (86.078632)
passing_maths = school_data_complete_df.loc[school_data_complete_df['maths_score']>=50]['maths_score'].count()
pct_passing_maths = round((passing_maths/students_count)*100, 6)
                                          
# % passing reading (% Students passing reading) (84.426857)
passing_reading = school_data_complete_df.loc[school_data_complete_df['reading_score']>=50]['reading_score'].count()
pct_passing_reading = round((passing_reading/students_count)*100, 6)  

# % overall passing (% Students who passed maths and reading) (72.808272)
total_passing = round(student_data_df[(student_data_df['maths_score'] >= 50) & (student_data_df['reading_score'] >= 50)]['student_name'].count()/students_count *100, 6)

In [319]:
schools_count, students_count, budget_total, average_maths, average_reading, pct_passing_maths, pct_passing_reading, total_passing

(15, 39170, 24649428, 70.338192, 69.980138, 86.078632, 84.426857, 72.808272)

In [320]:
# Local Government Area Summary

In [321]:
lga_summary_df = pd.DataFrame([{'Total Schools': schools_count,
                                    'Total Students': '{:,}'.format(students_count),
                                    'Total Budget': '${:,.2f}'.format(budget_total),
                                    'Average Math Score': average_maths,
                                    'Average Reading Score': average_reading,
                                    '% Passing Maths': pct_passing_maths,
                                    '% Passing Reading': pct_passing_reading,
                                    '% Overall Passing': total_passing,
                               }])

lga_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [322]:
# Unique School names
unique_school = school_data_complete_df.set_index('school_name').groupby(['school_name'])

# Unique School type
school_type = school_data_df.set_index('school_name')['type']

# Count of Unique Students per school (total 39,170)
students_per_school = unique_school['student_name'].count()

# Total School Budget for each School
total_budget_school = school_data_df.set_index('school_name')['budget'].map('${:,.2f}'.format)

# Total Student Budget for each student
student_budget_per_school = (school_data_df.set_index('school_name')['budget'] / school_data_df.set_index('school_name')['size']).map('${:,.2f}'.format)
student_budget_per_school2 = (school_data_df.set_index('school_name')['budget'] / school_data_df.set_index('school_name')['size'])

# Average Math Score per school
avg_math_score = unique_school['maths_score'].mean()

# Avreage Reading Score per school
avg_read_score = unique_school['reading_score'].mean()

# % Sudents Passing Math
passing_maths_ss = school_data_complete_df.loc[school_data_complete_df['maths_score']>=50].groupby('school_name')['maths_score'].count()
pct_passing_maths_ss = round((passing_maths_ss/students_per_school)*100, 6)

# % Sudents Passing Reaing
passing_read_ss = school_data_complete_df.loc[school_data_complete_df['reading_score']>=50].groupby('school_name')['reading_score'].count()
pct_passing_read_ss = round((passing_read_ss/students_per_school)*100, 6)

# % Students who passed both Math and Reading
total_passing_ss = round(student_data_df[(student_data_df['maths_score'] >= 50) & (student_data_df['reading_score'] >= 50)].groupby ('school_name')['student_name'].count()/students_per_school*100, 6)

In [323]:
school_type

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [324]:
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [341]:
per_school_summary_df = pd.DataFrame({'School type': school_type,
                                'Total Students': students_per_school,
                                'Total School Budget': total_budget_school,
                                'Per Student Budget': student_budget_per_school,
                                'Average Math Score': avg_math_score,
                                'Average Reading Score': avg_read_score,
                                '% Passing Math': pct_passing_maths_ss,
                                '% Passing Reading': pct_passing_read_ss,
                                '% Overall Passing': total_passing_ss})
per_school_summary_df

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [342]:
#Highest Performing Schools (by % Overall Passing)
#sort the schools by % Overall Passing in ascending order an display top 5 rows
top_schools_df = per_school_summary_df.sort_values(['% Overall Passing'], ascending=False)

#Save the results in a DataFrame called "top_schools"
top_schools_df.head(5)

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

In [343]:
#Lowest-Performing Schools (by % Overall Passing)
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows
bottom_schools_df = per_school_summary_df.sort_values(['% Overall Passing'], ascending=True)

#Save the results in a DataFrame called "bottom_schools"
bottom_schools_df.head(5)

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

In [344]:
school_data_complete_df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [345]:
#Maths Scores by Year
#Perform the necessary calculations to create a DataFrame that lists the average maths score for students of each year level (9, 10, 11, 12) at each school
year_9 = school_data_complete_df[(school_data_complete_df['year'] == 9)]
year_10 = school_data_complete_df[(school_data_complete_df['year'] == 10)]
year_11 = school_data_complete_df[(school_data_complete_df['year'] == 11)]
year_12 = school_data_complete_df[(school_data_complete_df['year'] == 12)]

year_9_maths = year_9.groupby('school_name')['maths_score'].mean()
year_10_maths = year_10.groupby('school_name')['maths_score'].mean()
year_11_maths = year_11.groupby('school_name')['maths_score'].mean()
year_12_maths = year_12.groupby('school_name')['maths_score'].mean()

maths_scores_by_year_df = pd.DataFrame({
               'Year 9 Maths': year_9_maths,
               'Year 10 Maths': year_10_maths,
               'Year 11 Maths': year_11_maths,
               'Year 12 Maths': year_12_maths
})

maths_scores_by_year_df

,Year 9 Maths,Year 10 Maths,Year 11 Maths,Year 12 Maths
school_name,,,,
Bailey High School,72.493827,71.897498,72.374900,72.675097
Cabrera High School,72.321970,72.437768,71.008299,70.604712
Figueroa High School,68.477804,68.331586,68.811001,69.325282
Ford High School,69.021609,69.387006,69.248862,68.617811
Griffin High School,72.789731,71.093596,71.692521,71.469178
Hernandez High School,68.586831,68.867156,69.154412,68.985075
Holden High School,70.543307,75.105263,71.640777,73.409639
Huang High School,69.081754,68.533246,69.431345,68.639316
Johnson High School,69.469286,67.990220,68.637730,69.287393
Pena High School,71.996364,72.396000,72.523438,71.187845
Rodriguez High School,71.940722,71.779808,72.364811,72.154626
Shelton High School,72.932075,72.506696,70.097087,72.331536
Thomas High School,69.234273,70.057007,69.657831,69.369822
Wilson High School,69.212361,69.455446,68.378965,69.787472
Wright High School,71.741176,72.179012,73.275862,70.848238

In [346]:
#Reading Scores by Year 
#Create a DataFrame that lists the average reading score for students of each year level (9, 10, 11, 12) at each school
year_9_read = year_9.groupby('school_name')['reading_score'].mean(),
year_10_read = year_10.groupby('school_name')['reading_score'].mean(),
year_11_read = year_11.groupby('school_name')['reading_score'].mean(),
year_12_read = year_12.groupby('school_name')['reading_score'].mean(),

reading_scores_by_year_df = pd.DataFrame({
               'Year 9 Reading': year_9_read,
               'Year 10 Reading': year_10_read,
               'Year 11 Reading': year_11_read,
               'Year 12 Reading': year_12_read})

reading_scores_by_year_df

,Year 9 Reading,Year 10 Reading,Year 11 Reading,Year 12 Reading
0,school_name Bailey High School 70.901920...,school_name Bailey High School 70.848265...,school_name Bailey High School 70.317346...,school_name Bailey High School 72.195525...

In [347]:
#Scores by School Spending

#Create a table that breaks down school performance based on average spending ranges (per student)
school_spending_df = per_school_summary_df
school_spending_df['Per Student Budget'] = student_budget_per_school

school_spending_df

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [348]:
#Use the code provided below to create four bins with reasonable cutoff values to group school spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

pd.cut(student_budget_per_school2, spending_bins)

school_name
Huang High School        (645, 680]
Figueroa High School     (630, 645]
Shelton High School      (585, 630]
Hernandez High School    (645, 680]
Griffin High School      (585, 630]
Wilson High School         (0, 585]
Cabrera High School        (0, 585]
Bailey High School       (585, 630]
Holden High School         (0, 585]
Pena High School         (585, 630]
Wright High School         (0, 585]
Rodriguez High School    (630, 645]
Johnson High School      (645, 680]
Ford High School         (630, 645]
Thomas High School       (630, 645]
dtype: category
Categories (4, interval[int64, right]): [(0, 585] < (585, 630] < (630, 645] < (645, 680]]

In [349]:
#Use pd.cut to categorise spending based on the bins.
student_budget_per_school2.groupby(pd.cut(student_budget_per_school2, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 680]    3
dtype: int64

In [350]:
#Categorize schools by spending ranges
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(student_budget_per_school2, spending_bins, labels=labels)

per_school_summary_df

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [351]:
#Use the following code to then calculate mean scores per spending range.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# schools_summary['Per Student Budget'] = schools_summary['Per Student Budget'].map('$ {:,.2f}'.format)
overall_passing_spending

Spending Ranges (Per Student)
<$585       76.721458
$585-630    79.876293
$630-645    71.004977
$645-680    66.756253
Name: % Overall Passing, dtype: float64

In [352]:
# Create new Spending Summary DataFrame
spending_summary_df = pd.DataFrame({
          'Average Math Score' :round(spending_math_scores, 2),
          'Average Reading Score':round(spending_reading_scores, 2),
          '% Passing Math':spending_passing_math,
          '% Passing Reading':spending_passing_reading,
          '% Overall Passing':overall_passing_spending,
})

# Format The Columnms in the Data Frame
spending_summary_df['Average Math Score'] = round(spending_summary_df['Average Math Score'], 2)
spending_summary_df['Average Reading Score'] = round(spending_summary_df['Average Reading Score'], 2)
spending_summary_df['% Passing Math'] = spending_summary_df['% Passing Math'].map('{:.2f}'.format)
spending_summary_df['% Passing Reading'] = spending_summary_df['% Passing Reading'].map('{:.2f}'.format)
spending_summary_df['% Overall Passing'] = spending_summary_df['% Overall Passing'].map('{:.2f}'.format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

In [353]:
#Scores by School Size

#Use the following code to bin the per_school_summary
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_summary_df = per_school_summary_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].groupby(pd.cut(per_school_summary_df['Total Students'], size_bins, labels=labels)).mean()
size_summary_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Students,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714148,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [354]:
# Scores by School Type
school_summary_type = per_school_summary_df
school_summary_type['School type'] = school_summary_type['School type'].replace({'Government': 1, 'Independent':2})

bins = [0, 1, 2]
type_names = ['Government', 'Independent']
summary_type_df = school_summary_type[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].groupby(pd.cut(school_summary_type['School type'], bins,labels=type_names)).mean()
summary_type_df .head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204042,86.247789,76.973340