In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [29]:
# Count of unique schools (15)
schools_count = len(school_data_complete_df['school_name'].unique())

# Count of unique students (39,170)
sudents_count = len(school_data_complete_df['student_name'].unique())

# Total Budget ($24,649,428.00)
budget_total = sum(school_data_complete_df['budget'])

# Per student budget
student_budget = (school_data_complete_df['budget / ['student_count'] $'])

# Averaage Maths Score (70.338192)
average_maths = (school_data_complete_df [sum(maths_score) / ['student_count'] % '])
                                          
# Average Reading Score (69.980138)
average_maths = (school_data_complete_df [sum(reading_score) / ['student_count'] % '])

# Passing grade 50 or higher
# % passing maths (% Students who passed maths) (86.078632)
passing_maths = 
                                          
# % passing reading (% Students passing reading) (84.426857)
passing_reading = 
                                          
# % overall passing (% Students who passed maths and reading) (72.808272)
total_passing = ('[passing_maths] + [passing_reading] %')
                                          
df.head()

SyntaxError: unterminated string literal (detected at line 14) (2681245971.py, line 14)

In [37]:
# Local Government Area Summary

In [35]:
local_gov_summary_df = pd.DataFrame([{'Total Schools': 15,
                                    'Total Students': '39,170',
                                    'Total Budget': '$24,649,428.00',
                                    'Average Math Score': 70.338192,
                                    'Average Reading Score': 69.980138,
                                    '% Passing Maths': 86.078632,
                                    '% Passing Reading': 84.426857,
                                    '% Overall Passing': 72.808272}])
local_gov_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
#Highest Performing Schools (by % Overall Passing)
#sort the schools by % Overall Passing in ascending order an display top 5 rows
#Save the results in a DataFrame called "top_schools"

In [ ]:
#Lowest-Performing Schools (by % Overall Passing)
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows
#Save the results in a DataFrame called "bottom_schools"

In [ ]:
#Maths Scores by Year
#Perform the necessary calculations to create a 
#DataFrame that lists the average maths score for students of each year level (9, 10, 11, 12) at each school

In [ ]:
#Reading Scores by Year
#Create a DataFrame that lists the average reading score for students of each year level (9, 10, 11, 12) at each school

In [ ]:
#Scores by School Spending

#Create a table that breaks down school performance based on average spending ranges (per student).
#Use the code provided below to create four bins with reasonable cutoff values to group school spending
#spending_bins = [0, 585, 630, 645, 680]
#labels = ["<$585", "$585-630", "$630-645", "$645-680"]
#Use pd.cut to categorise spending based on the bins.
#Use the following code to then calculate mean scores per spending range.

In [ ]:
#Scores by School Size

#Use the following code to bin the per_school_summary
#size_bins = [0, 1000, 2000, 5000]
#labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
#Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large)

In [ ]:
#Scores by School Type

#Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
#This new DataFrame should show school performance based on the "School Type"